### Imports

In [19]:
import requests
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import warnings

### Initializations

In [20]:
# warnings
warnings.filterwarnings('ignore')

# postgresql db
engine = create_engine(f'postgresql://postgres:password@localhost/FlightDB')

In [21]:
# read in flight data
unionAllDF = pd.read_csv('Resources/unionAllDF.csv')
unionAllDF.columns=['flightdate','airline','ch_code','flightnumber','departuretime','locationfrom','timetaken','stop',
                    'arrivaltime','locationto','price','seatclass']

# assign data types to columns
unionAllDF['flightdate']= pd.to_datetime(unionAllDF['flightdate'], infer_datetime_format=True)
unionAllDF['flightnumber']= unionAllDF['flightnumber'].astype(str)
unionAllDF['departuretime']= pd.to_datetime(unionAllDF['departuretime'], infer_datetime_format=True)
unionAllDF['arrivaltime']= pd.to_datetime(unionAllDF['arrivaltime'], infer_datetime_format=True)
unionAllDF.dtypes

flightdate       datetime64[ns]
airline                  object
ch_code                  object
flightnumber             object
departuretime    datetime64[ns]
locationfrom             object
timetaken                object
stop                     object
arrivaltime      datetime64[ns]
locationto               object
price                   float64
seatclass                object
dtype: object

### Extract Transfer Load

#### Table: airline

In [24]:
# create airline DF
airlineDF = unionAllDF[['airline', 'ch_code']].copy()
airlineDF.drop_duplicates(inplace=True)
airlineDF.sort_values(by=['airline'], inplace=True)
airlineDF.insert(0, 'airlineid', range(1, 1 + len(airlineDF.index)))
airlineDF.columns=['airlineid','airline','designator']

# write DF to SQL
airlineDF.to_sql(name='airline', con=engine, if_exists='replace', index=False)

# build dict for lookup
airline_dict = dict(zip(airlineDF.airline, airlineDF.airlineid))
airline_dict

{'Air India': 1,
 'AirAsia': 2,
 'GO FIRST': 3,
 'Indigo': 4,
 'SpiceJet': 5,
 'StarAir': 6,
 'Trujet': 7,
 'Vistara': 8}

In [5]:
airlineDF.head(2)

    airlineid    airline designator
16          1  Air India         AI
2           2    AirAsia         I5

#### Table: location

In [25]:
unionAllDF.head(2)

,flightdate,airline,ch_code,flightnumber,departuretime,locationfrom,timetaken,stop,arrivaltime,locationto,price,seatclass
0,2022-11-02,SpiceJet,SG,8709,2022-11-17 18:55:00,Delhi,02h 10m,non-stop,2022-11-17 21:05:00,Mumbai,73.34096,economy
1,2022-11-02,SpiceJet,SG,8157,2022-11-17 06:20:00,Delhi,02h 20m,non-stop,2022-11-17 08:40:00,Mumbai,73.34096,economy

In [28]:
# create location DF
locationDF = unionAllDF[['locationfrom']].copy()
locationDF.columns=['locationname']

locationtoDF = unionAllDF[['locationto']].copy()
locationtoDF.columns=['locationname']

locationDF = pd.concat([locationDF, locationtoDF])
locationDF.drop_duplicates(inplace=True)
locationDF.sort_values(by=['locationname'], inplace=True)
locationDF.insert(0, 'locationid', range(1, 1 + len(locationDF.index)))

# write DF to SQL
locationDF.to_sql(name='location', con=engine, if_exists='replace', index=False)

# build dict for lookup
location_dict = dict(zip(locationDF.locationname, locationDF.locationid))
location_dict

{'Bangalore': 1,
 'Chennai': 2,
 'Delhi': 3,
 'Hyderabad': 4,
 'Kolkata': 5,
 'Mumbai': 6}

In [7]:
locationDF.head(2)

        locationid locationname
84072            1    Bangalore
180601           2      Chennai

#### Table: seatclass

In [8]:
# create seatclass DF
seatclassDF = unionAllDF[['seatclass']].copy()
seatclassDF.drop_duplicates(inplace=True)
seatclassDF.sort_values(by=['seatclass'], inplace=True)
seatclassDF.insert(0, 'seatclassid', range(1, 1 + len(seatclassDF.index)))

# write DF to SQL
seatclassDF.to_sql(name='seatclass', con=engine, if_exists='replace', index=False)

# build dict for lookup
seatclass_dict = dict(zip(seatclassDF.seatclass, seatclassDF.seatclassid))
seatclass_dict

{'business': 1, 'economy': 2}

In [9]:
seatclassDF.head(2)

        seatclassid seatclass
206772            1  business
0                 2   economy

#### Table: stop

In [10]:
# create airline DF
stopDF = unionAllDF[['stop']].copy()
stopDF.drop_duplicates(inplace=True)
stopDF.sort_values(by=['stop'], inplace=True)
stopDF.insert(0, 'stopid', range(1, 1 + len(stopDF.index)))

# write DF to SQL
stopDF.to_sql(name='stop', con=engine, if_exists='replace', index=False)

# build dict for lookup
stop_dict = dict(zip(stopDF.stop, stopDF.stopid))
stop_dict

{'1-stop': 1, '2-stops': 2, 'non-stop': 3}

In [11]:
stopDF.head(3)

     stopid      stop
18        1    1-stop
175       2   2-stops
0         3  non-stop

#### Tables: flight and flightclass

In [12]:
unionAllDF.head(2)

,flightdate,airline,ch_code,flightnumber,departuretime,locationfrom,timetaken,stop,arrivaltime,locationto,price,seatclass
0,2022-11-02,SpiceJet,SG,8709,2022-11-17 18:55:00,Delhi,02h 10m,non-stop,2022-11-17 21:05:00,Mumbai,73.34096,economy
1,2022-11-02,SpiceJet,SG,8157,2022-11-17 06:20:00,Delhi,02h 20m,non-stop,2022-11-17 08:40:00,Mumbai,73.34096,economy

In [29]:
flight_tup = ()
flight_dict = {}

flightclass_tup = ()
flightclass_dict = {}

# check flight data
for index, row in unionAllDF.iterrows():
    
    flight_tup = (row.flightdate, row.airline, row.flightnumber, row.departuretime, row.locationfrom, row.timetaken, 
                  row.stop, row.arrivaltime, row.locationto)
    
    lookupflightkey = flight_dict.get(flight_tup)
    
    if lookupflightkey is None:
        flightid = index
        flight_dict[flight_tup] = flightid
    else:
        flightid = lookupflightkey
        
        flightclass_tup = (flightid, seatclass_dict.get(row.seatclass), row.price)        
        lookupflightkey = flightclass_dict.get(flightclass_tup)
        
        if lookupflightkey is None:
            flightclassid = index
            flightclass_dict[flightclass_tup] = flightclassid

In [37]:
flightDF = pd.DataFrame.from_dict(flight_dict, orient='index')
#flightDF[0].tolist(), index=flightDF.index

flightDF.head()

                                                    0
(2022-11-02 00:00:00, SpiceJet, 8709, 2022-11-1...  0
(2022-11-02 00:00:00, SpiceJet, 8157, 2022-11-1...  1
(2022-11-02 00:00:00, AirAsia, 764, 2022-11-17 ...  2
(2022-11-02 00:00:00, Vistara, 995, 2022-11-17 ...  3
(2022-11-02 00:00:00, Vistara, 963, 2022-11-17 ...  4

In [ ]:
flightDF = pd.DataFrame(['flightid','airlineid','flightdate','flightnumber','stopid','departuretime','locationfromid',
                         'locationtoid','timetaken','arrivaltime'])    flightDF.loc[len(flightDF.index)] = [key.flightdate, key.airline, key.flightnumber, key.departuretime, key.locationfrom, 
        key.timetaken, key.stop, key.arrivaltime, key.locationto]
    break;
    
flightclassDF = pd.DataFrame(['flightclassid','flightid','seatclassid','price'])

flightDF

In [ ]:

flightDF.drop_duplicates(inplace=True)
flightDF.sort_values(by=['stop'], inplace=True)
flightDF.insert(0, 'stopid', range(1, 1 + len(stopDF.index)))

In [ ]:
flightDF = unionAllDF[['date','airline','num_code','dep_time','locationfrom','time_taken','stop','arr_time','locationto','seatclass','price']]
flightDF.insert(0, 'flightid', range(1, 1 + len(flightDF.index)))

flightclassDF = unionAllDF[['seatclass','price']]
flightclassDF['flightid'] = -1

for index, row in flightDF.iterrows():
    flightclassDF.loc[index, ['flightid']] = row.flightid    
    flightclassDF.loc[index, ['seatclass']] = class_dict.get(row.seatclass)
    
    flightDF.loc[index, ['airlineid']] = airline_dict.get(row.airline)
    flightDF.loc[index, ['locationfromid']] = location_dict.get(row.locationfrom)
    flightDF.loc[index, ['locationtoid']] = location_dict.get(row.locationto)
    flightDF.loc[index, ['stopid']] = stop_dict.get(row.stop)
    break;

In [ ]:
flightDF

In [ ]:
flightDF.columns=['flightdate','airlineid','flightnumber','departuretime','locationfromid','timetaken','stopid',
                  'arrivaltime','locationtoid','class','price']

        
flightDF.drop_duplicates(inplace=True)
flightDF.insert(0, 'flightid', range(1, 1 + len(flightDF.index)))
flightDF.head()

In [ ]:
flightDF.tail()

In [ ]:
flightDF.to_sql(name='flight', con=engine, if_exists='replace', index=False)

In [ ]:
unionAllDF.tail()

In [ ]:
class_dict = dict(zip(classDF.class, classDF.classid))
flight_dict = dict(zip(flightDF., flightDF.classid))


flightclassDF = unionAllDF[['date','airline','num_code','dep_time','from','time_taken','stop','arr_time','to']]
flightDF.columns=['flightdate','airlineid','flightnumber','departuretime','locationfromid','timetaken','stopid',
                  'arrivaltime','locationtoid']

for index, row in flightDF.iterrows():
    flightDF.loc[index, ['airlineid']] = airline_dict.get(row.airlineid)
    flightDF.loc[index, ['locationfromid']] = location_dict.get(row.locationfromid)
    flightDF.loc[index, ['locationtoid']] = location_dict.get(row.locationtoid)
    flightDF.loc[index, ['stopid']] = stop_dict.get(row.stopid)
        
flightDF.drop_duplicates(inplace=True)
flightDF.head()