# Save to CSV

### Include

In [1]:
from pathlib import *
import pandas as pd
from sqlalchemy.engine import URL
from sqlalchemy import create_engine
import psycopg2

### Initialize

In [2]:
# data folder
data_folder = 'Resources'
data_file = data_folder + '/FlightsWithTimeIntervals.csv'

#db connection
engine = create_engine(f'postgresql://postgres:password@localhost/FlightDB')

### Load

In [3]:
#prepare sql
sql_text = '''
SELECT 
    fl.flightid, 
    To_Date(fl.flightdate,'dd-mm-yyyy') flightdate, 
    fl.airlineid, 
    fl.stopid, 
    locationfromid flyfrom, 
    locationtoid flyto, 
    timetaken flymins, 
    sc.seatclassid scid,
    CASE 
        WHEN date_part('hour', CAST(departuretime as time) + interval '29 minutes') < 7 THEN 'Late Night' 
        WHEN date_part('hour', CAST(departuretime as time) + interval '29 minutes') < 10 THEN 'Early Morning' 
        WHEN date_part('hour', CAST(departuretime as time) + interval '29 minutes') < 13 THEN 'Late Morning' 
        WHEN date_part('hour', CAST(departuretime as time) + interval '29 minutes') < 16 THEN 'Early Afternoon' 
        WHEN date_part('hour', CAST(departuretime as time) + interval '29 minutes') < 19 THEN 'Late Afternoon'        
        WHEN date_part('hour', CAST(departuretime as time) + interval '29 minutes') < 22 THEN 'Evening'        
        Else 'Late Night' end depart,
    CASE 
        WHEN date_part('hour', CAST(arrivaltime as time) + interval '29 minutes') < 7 THEN 'Late Night' 
        WHEN date_part('hour', CAST(arrivaltime as time) + interval '29 minutes') < 10 THEN 'Early Morning' 
        WHEN date_part('hour', CAST(arrivaltime as time) + interval '29 minutes') < 13 THEN 'Late Morning' 
        WHEN date_part('hour', CAST(arrivaltime as time) + interval '29 minutes') < 16 THEN 'Early Afternoon' 
        WHEN date_part('hour', CAST(arrivaltime as time) + interval '29 minutes') < 19 THEN 'Late Afternoon'        
        WHEN date_part('hour', CAST(arrivaltime as time) + interval '29 minutes') < 22 THEN 'Evening'        
        Else 'Late Night' end arrive,
    COALESCE(fu.fuelprice, fuel.price) fuelprice,
    fc.price
FROM 
    public.flight2 fl
    inner join public.airline a on fl.airlineid = a.airlineid
    inner join public.stop s on fl.stopid = s.stopid
    left join public.fuel fu on TO_DATE(fl.flightdate, 'DD-MM-YYYY') = TO_DATE(fu.fueldate, 'YYYY-MM-DD')
    inner join public.flight_class fc on fl.flightid = fc.flightid
    inner join public.seatclass sc on fc.seatclassid = sc.seatclassid
    left join lateral (select fuelprice price from public.fuel where fuelprice is not null and
                      TO_DATE(fueldate, 'YYYY-MM-DD') <= TO_DATE(fl.flightdate, 'DD-MM-YYYY') order by
                      TO_DATE(fueldate, 'YYYY-MM-DD') desc FETCH FIRST 1 ROW ONLY) fuel on true
ORDER BY
    flightdate;        
'''

In [4]:
sql_query = pd.read_sql_query (sql_text, engine)

In [5]:
DF = pd.DataFrame(sql_query)

In [6]:
engine.dispose()

### Save

In [7]:
DF.to_csv(data_file, index=False)