In [1]:
import pandas as pd

In [4]:
cityData = pd.read_csv('UnionAllDF.csv')
cityData = cityData.head(200)
cityData.tail(3)

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price,class
197,12/2/2022,Air India,AI,762,20:15,Delhi,16h 10m,1-stop,12:25,Mumbai,160.0368,economy
198,12/2/2022,Air India,AI,764,16:55,Delhi,19h 30m,1-stop,12:25,Mumbai,160.0368,economy
199,12/2/2022,Air India,AI,885,10:55,Delhi,21h 25m,1-stop,8:20,Mumbai,160.0368,economy

In [5]:
cityData.to_html('tableData.html', index=False, classes=['table', 'table-striped', 'table-hover'])